/* css styles */

.reveal p {font-size: 1em;}
.reveal pre code {font-size: 1.5em}
.reveal pre.sourceCode code {font-size: 1.5em;}
.reveal h1 {font-size: 2em;}
.reveal[data-navigation-mode=linear] .title-slide h1 {
    font-size: 2em;
}
.reveal[data-navigation-mode=linear] .slides section {
    font-size: 1em;
}


